.title {
  background-color: white;
  color: black;
  font-size: 50pt;
  text-align: center;
  border-radius: 2px;
}

.footer {
  display: flex;
  font-size: 20pt;
  background-color: rgb(147, 147, 147);
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-size: 20pt;
  color: black;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.layout {
  display: grid;
  height: 100dvh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: aside;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

.grid-wrapper > div {
  border-radius: 2rem;
  overflow: hidden;
  width: 650px;
  transition: scale 800ms ease-in-out;
}

.grid-wrapper > div:hover {
  scale: 1.1;
}

.grid-wrapper > div > a > img {
  width: 100%;
}
