.title {
  background-color: rgb(30, 159, 170);
  color: black;
  font-size: 50pt;
  text-align: center;
  border-radius: 2px;
  padding: 15pt;
  margin: 0;
}

.svg-tut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100%;
  background-color: hsl var(--section-color);
}

.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
}

.svg-red circle {
  fill: red;
}

.color-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.footer {
  display: flex;
  font-size: 17pt;
  color: black;
  text-align: bottom;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 159, 170);
  margin: 0;
}

.nav-title {
  font-size: 15pt;
  color: black;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.layout {
  margin: 0;
  display: grid;
  height: 100dvh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: aside;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

.grid-wrapper > div {
  border-radius: 2rem;
  overflow: hidden;
  width: 650px;
  transition: scale 800ms ease-in-out;
}

.grid-wrapper > div:hover {
  scale: 1.1;
}

.grid-wrapper > div > a > img {
  width: 100%;
}

.main {
  margin: 5pt;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  overflow-y: scroll;
}
